header {
    background-color: blue;
    color: white;
    /* padding: 20px; */
    text-align: right;
    /* width: 100%; */
}

#errorMsg {
    columns: red;
}

button {
    background-color: aqua;
}